




<template id="template">
    <h1>hell0!!!!!!!!!!!!!!!!!</h1>
</template>



<!--
<h3>总共</h3>
<div class="panel panel-default" ng-repeat="data in subjects track by $index">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" ng-src={{data.images.medium}} alt="...">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{data.title}}</h4>
                导演：<span ng-repeat="cast in data.casts">{{cast.name + ($last?'':'、')}}</span>
            </div>
        </div>
    </div>
</div>
<nav>
    <ul class="pagination">

        <li ng-repeat="page in pages" ng-class="($index+1)==activepage?'active':''">
            <a href="{{'#/' +category + '/'+ ($index + 1)}}" >{{page}}</a>
        </li>

        &lt;!&ndash;<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
        ...&ndash;&gt;
    </ul>
</nav>

<div class="sk-folding-cube" ng-show="!loaded">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
</div>
-->
