.hotHeader {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 2.5rem;
  border-bottom: 1px solid #ccc; }

.authorList {
  padding: 0 1rem; }
  .authorList .cont {
    padding: 1rem 0 0.25rem 0;
    position: relative; }
    .authorList .cont img {
      width: 3rem;
      float: left; }
    .authorList .cont .text {
      margin-left: 4rem;
      border-bottom: 1px solid #ccc;
      height: 4rem; }
      .authorList .cont .text h3 {
        margin-top: 0;
        font-size: 1rem;
        color: #333; }
      .authorList .cont .text p {
        font-size: 0.8rem;
        color: #666; }

.br {
  padding: 0.65rem 0 0.65rem 1rem;
  font-size: 1rem;
  color: #666;
  border-bottom: 1px solid #ccc; }

.module {
  width: 100%;
  background-color: #f8f8f8; }
  .module div {
    height: 6.5625rem;
    width: 50%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    padding-top: 1rem;
    text-align: center;
    font-family: "Microsoft YaHei";
    color: #0f9c89; }
    .module div img {
      display: inline-block;
      width: 1.875rem; }
    .module div h4 {
      margin-top: 0.75rem; }
    .module div p {
      margin-top: 0.4rem; }

.setting {
  background-color: #f8f8f8;
  font-size: 1rem;
  font-family: "Microsoft YaHei"; }
  .setting .divGroup {
    border-top: 1px solid #ccc;
    margin-top: 1.5rem; }
    .setting .divGroup .list {
      margin-top: 0;
      border-top: 0; }
  .setting .divGroup:nth-child(1) {
    margin-top: 0;
    border-top: 0; }
  .setting .list {
    width: 100%;
    padding: 0.775rem 0 0.775rem 0.7rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.5rem;
    background-color: #fff; }

.clearfix::before,
.clearfix::after {
  content: ' ';
  visibility: hidden;
  clear: both;
  height: 0;
  line-height: 0;
  display: block; }

@media only screen and (width: 320px) {
  html {
    font-size: 16px; } }
@media only screen and (width: 360px) {
  html {
    font-size: 18px; } }
@media only screen and (width: 375px) {
  html {
    font-size: 18.75px; } }
@media only screen and (width: 400px) {
  html {
    font-size: 20px; } }
@media only screen and (width: 411px) {
  html {
    font-size: 20.55px; } }
@media only screen and (width: 414px) {
  html {
    font-size: 20.7px; } }
@media only screen and (min-width: 640px) {
  html {
    font-size: 32px; } }
* {
  box-sizing: border-box; }

body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
  background-color: #f8f8f8; }

a {
  text-decoration: none;
  color: #333; }

a:focus {
  text-decoration: none;
  color: #333; }

.main {
  padding-top: 50px;
  padding-left: 0;
  padding-right: 0; }

.listBox {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 0 1.25rem; }

.cont {
  padding: 1.35rem 0; }

.listBox h3 {
  font-size: 1.35rem;
  margin-bottom: 0.7rem;
  line-height: 1.5rem;
  margin-top: 0;
  font-weight: bold; }

.listBox .minBox {
  position: relative;
  margin-top: 10px;
  text-overflow: ellipsis; }

.listBox .minBox .img {
  width: 7.5rem;
  height: 5.5rem;
  position: absolute;
  right: 0.25rem;
  top: 0;
  overflow: hidden; }
  .listBox .minBox .img img {
    width: 100%; }

.listBox .minBox p {
  width: 100%;
  font-size: 0.75rem;
  padding-right: 8rem; }

.mainBox {
  transition: all .3s; }

.hidden {
  display: none; }

.listBox span {
  display: block;
  width: 4.1875rem;
  text-align: center;
  background-color: skyblue;
  border-radius: 0 0 3px 3px;
  padding: 0.25rem 0;
  color: #fff;
  font-size: 0.75rem; }

.gallery {
  background: url("../../img/gallery.png");
  background-size: contain;
  height: 10.8125rem;
  padding-top: 0.5625rem;
  padding-right: 0.5625rem;
  box-sizing: border-box; }

.gallery img {
  height: 100%;
  width: 100%; }

.touchArea {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: none; }

.leftBox {
  width: 12.25rem;
  height: 100%;
  background-color: #eee;
  position: fixed;
  left: 0;
  top: 0;
  transition: all .3s;
  transform: translateX(-12.25rem); }
  .leftBox li.active a {
    color: forestgreen; }

.leftBox .containe {
  position: absolute;
  left: 2rem;
  top: 2rem; }

.leftBox .containe .head {
  font-family: serif;
  font-size: 1.3rem; }

.leftBox .containe ul, li {
  padding-top: 2rem;
  list-style: none;
  font-size: 1.3rem;
  line-height: 1.2rem;
  padding-left: 0; }

.leftBox .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2rem;
  border-top: 1px solid #ccc;
  font-size: 1rem;
  line-height: 2rem; }

.leftBox .bottom .left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  float: left; }

.leftBox .bottom .right {
  float: left;
  text-align: center;
  width: 50%; }

/*# sourceMappingURL=main.css.map */
