<div class="module clearfix">
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
    <div>
        <img src="img/module.gif" alt="">
        <h4>
            热门精选
        </h4>
        <p>
            每日段子，提神醒脑
        </p>
    </div>
</div>